* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    font-size: 14px !important;
    padding: 30px;
    background-color: lightgray;
    margin-top: 20px !important;
    text-align: justify !important;
}

.footer{
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}